@model Lab2_1DV409.Models.Contact

@{
    ViewBag.Title = "Create new contact";
}

<h2>Create new contact</h2>

@Html.Partial("_ContactForm")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")